
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */
/**/ 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  background-color: #F7F7F7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilo para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px; /* Ancho de la barra de scroll */
}

/* Estilo para la parte del scroll */
::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color de la barra de scroll */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para la pista (el fondo detrás de la barra de scroll) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de la pista */
}
